header {
    /* background-color: #264653; */
    background-color: #1093b4;
    min-height: 50px;
    height: auto;
    line-height: 50px;
    color: #fff;
    direction: ltr;
}

.logo_text {
    font-weight: 600;
    color: #fff;
    transition: color .3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .6rem;
    width: fit-content;
    height: 50px;
}

.logo_text:hover {
    color: #e9c46a;
}

.logo_text img {
    width: 30px;
}

.logo_text h5 {
    color: #fff;
    margin: 0;
    transition: color .3s;
}

.logo_text h5:hover {
    color: #e9c46a;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.user_image {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #eee;
}

.user_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user h5 {
    margin: 0;
    font-weight: 400;
    color: #fff;
    user-select: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.menu svg {
    font-size: 2rem;
    cursor: pointer;
    font-weight: 600;
    transition: color .3s;
}

.menu svg:hover {
    color: #e9c46a;
}


