.title_form_register {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_register {
    width: 600px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 610px) {
    .form_register {
        width: 300px;
    }
}