.close_sideNav {
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    right: 20px;
    display: none;
}

.close_sideNav svg {
    cursor: pointer;
    font-size: 1rem;
    color: #212245;
    transition: color .3s;
}

.close_sideNav svg:hover {
    color: #e9c46a;
}

.sideNavbar_logo {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sideNavbar_logo img {
    width: 70%;
    height: 100%;
}

/* ##$$$$$$$$$$$$$$$$$$$$$$$## */
/* ul */
.sideNavbar_ul {
    padding: 0;
    margin-bottom: 5px;
    overflow-y: scroll;
    height: calc(100vh - 230px);
}

.sideNavbar_ul::-webkit-scrollbar {
    width: 0px;
}

.sideNavbar_ul li {
    border-bottom: 1px solid #fefefe80;
}

.sideNavbar_ul li:last-child {
    border-bottom: 1px solid transparent;
}

/* $$$$$$$$$$$$$$$$$$$$ */
/* sideNavbar_ul li */

.sideNavbar_ul li {
    border-bottom: 1px solid #fefefe80;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sideNavbar_ul li a > svg {
    font-size: 22px;
    margin-right: .5rem;
    color: #fff;
}

.sideNavbar_ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sideNavbar_ul li a p {
    width: 100%;
    cursor: pointer;
    color: #fff;
    padding: .5rem .1rem .5rem 1rem;
    font-weight: 600;
    transition: padding-right .3s, color .3s;
    margin: 0;
}

.sideNavbar_ul li a p:hover {
    color: #e9c46a;
    padding-right: .5rem;
}

/* #################################### */
/* drop menu */
.sideNavbar_ul .drop {
    border-bottom: 1px solid #fefefe80;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sideNavbar_ul .drop > svg {
    font-size: 22px;
    margin-right: .5rem;
    color: #fff;
}

.sideNavbar_ul .drop .drop_text_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #fff;
    padding: .5rem 0rem .5rem 1rem;
    font-weight: 600;
    transition: padding-right .3s, color .3s;
}

.sideNavbar_ul .drop .drop_text_arrow p {
    margin: 0;
}

.sideNavbar_ul .drop .drop_text_arrow:hover {
    color: #e9c46a;
    padding-right: .5rem;
}

.sideNavbar_ul .drop .drop_text_arrow svg {
    font-size: 18px;
    transform: rotate(0deg);
    transition: transform .3s;
}

.sideNavbar_ul .drop_down {
    padding: 0;
    display: none;
}

.sideNavbar_ul .drop_down li {
    border-bottom: .5px solid #fefefe80;
    margin: 0 2.5rem 0 0;
    position: relative;
}

.sideNavbar_ul .drop_down li::after {
    content: '';
    position: absolute;
    right: -12px;
    bottom: 5px;
    width: 15px;
    height: 0.5px;
    background-color: #fefefe80;
    transform: rotate(-45deg);
}

.sideNavbar_ul .drop_down li a {
    display: inline-block;
    padding: .5rem 0rem;
    color: #fff;
    transition: padding-right .3s , color .3s;
    width: 100%;
}

.sideNavbar_ul .drop_down li a:hover {
    color: #e9c46a;
    padding-right: 0.5rem;
}

/* #################################### */


@media only screen and (max-width: 666px) {
    .close_sideNav_media {
      display: flex;
    }
}
