.left_side {
    margin-right: 240px;
    transition: margin-right 1s;
}

.left_side_no_m {
    margin-right: 0px;
    transition: margin-right 1s;
}

.layout_sideNavbar {
    position: fixed;
    width: 240px;
    height: 100vh;
    top: 0;
    right: 0px;
    bottom: 0;
    z-index: 999;
    background-color: #264653;
    transition: right 1s;
}

.layout_sideNavbar_hide {
    position: fixed;
    width: 240px;
    height: 100vh;
    top: 0;
    right: -240px;
    bottom: 0;
    z-index: 999;
    background-color: #264653;
    transition: right 1s;
}
