/* 
#264653
#2a9d8f
#e9c46a
#f4a261
#e76f51
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6 {
  color: #212245;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  padding: 1.2rem 0;
  height: calc(100vh - 102px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: #264653;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #f4a3617e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f4a261;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.input-group-text {
  text-align: right !important;
}

.search_total_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_total_box input {
  width: 50%;
}

.search_total_box span {
  background-color: #2a9d8f;
  padding: 6px 10px;
  margin: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}


.loader_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


@media only screen and (max-width: 400px) {
  .search_total_box {
      flex-direction: column;
  }

  .search_total_box input {
      width: 100%;
      order: 2;
  }

  .search_total_box span {
      width: 100%;
      text-align: center;
      order: 1;
      margin-bottom: 10px;
  }
}

@media only screen and (max-width: 330px) {
  header .col-3:first-child {
    display: none;
  }
}